USE [master]
GO
/****** Object:  Database [JOB]    Script Date: 16/12/2019 09:50:21 ******/
CREATE DATABASE [JOB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JOB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JOB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JOB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JOB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JOB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JOB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/12/2019 09:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyWork]    Script Date: 16/12/2019 09:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyWork](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CheckInTime] [nvarchar](50) NULL,
	[CheckOutTime] [nvarchar](50) NULL,
	[DailyWorkingHour] [nvarchar](50) NULL,
	[ExtraWorkingHour] [time](0) NULL,
	[MissingWorkingHour] [time](0) NULL,
 CONSTRAINT [PK_DailyWork] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DailyWork] ON 

INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (16, CAST(N'2019-12-14T00:00:00.000' AS DateTime), N'09:00', N'18:09', N'08:00', NULL, NULL)
INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (17, CAST(N'2019-11-01T00:00:00.000' AS DateTime), N'09:00', N'18:11', N'08:00', NULL, NULL)
INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (18, CAST(N'2019-11-23T00:00:00.000' AS DateTime), N'09:00', N'18:32', N'08:02', CAST(N'00:02:00' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[DailyWork] OFF
USE [master]
GO
