USE [JOB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/12/2019 17:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyWork]    Script Date: 20/12/2019 17:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyWork](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CheckInTime] [nvarchar](50) NULL,
	[CheckOutTime] [nvarchar](50) NULL,
	[DailyWorkingHour] [nvarchar](50) NULL,
	[ExtraWorkingHour] [time](0) NULL,
	[MissingWorkingHour] [time](0) NULL,
 CONSTRAINT [PK_DailyWork] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DailyWork] ON 

INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (30, CAST(N'2019-12-02T00:00:00.000' AS DateTime), N'09:04', N'20:50', N'10:16', CAST(N'02:16:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (31, CAST(N'2019-12-03T00:00:00.000' AS DateTime), N'09:05', N'20:17', N'09:42', CAST(N'01:42:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[DailyWork] ([ID], [Date], [CheckInTime], [CheckOutTime], [DailyWorkingHour], [ExtraWorkingHour], [MissingWorkingHour]) VALUES (32, CAST(N'2019-12-04T00:00:00.000' AS DateTime), N'09:10', N'20:43', N'10:03', CAST(N'02:03:00' AS Time), CAST(N'00:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[DailyWork] OFF
